@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}

a,
button,
[type="button"],
[type="submit"],
[type="reset"] {
  @apply lg:cursor-pointer cursor-default;
}
